version: "3"
services:
  mysql:
    image: mysql:latest
    restart: always
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      # set myusername and mypassword to desired username and password
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "myusername", "-pmypassword"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./init.sql.example:/docker-entrypoint-initdb.d/init.sql

  user-service:
    build:
      context: user-service/
      dockerfile: Dockerfile
      args:
        JAR_FILE: user-service/target/*.jar
        CACHEBUST: ${CI_COMMIT_SHA}  # Use a unique value to bust the cache
    image: user-service
    container_name: user-service-container
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url": "jdbc:mysql://mysql:3306/bank_userservice",
        "spring.datasource.username": "myusername",
        "spring.datasource.password": "mypassword",
        "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL8Dialect",
        "spring.jpa.hibernate.ddl-auto" : "update",
        "oauth.jwt.secret": "my_secret",
        "spring.mail.host":"smtp.gmail.com",
        "spring.mail.port":587,
        "spring.mail.username":"noreply.rafbanka1@gmail.com",
        "spring.mail.password":"fony nhtw hlah vzul",
        "spring.mail.properties.mail.smtp.auth":true,
        "spring.mail.properties.mail.smtp.starttls.enable":true,
        "server.port": 8080,
        "front.port": 4200,
        "springdoc.packagesToScan": "rs.edu.raf.banka1.controller",
        "exchangeRateAPIToken": "5eb8b116c5d704eea74c42f1",
        "exchangeRateApiUrl": "https://v6.exchangerate-api.com/v6/",
        "marketServiceUrl" = "http://market-service:8081"
      }'
    depends_on:
      mysql:
        condition: service_healthy

  market-service:
    build:
      context: market-service/
      dockerfile: Dockerfile
      args:
        JAR_FILE: market-service/target/*.jar
        CACHEBUST: ${CI_COMMIT_SHA}  # Use a unique value to bust the cache
    image: market-service
    container_name: market-service-container
    restart: always
    ports:
      - "8081:8081"  # Adjust the port as needed
    environment:
      SPRING_APPLICATION_JSON: '{
      "spring.datasource.url": "jdbc:mysql://mysql:3306/bank_marketservice",
      "spring.datasource.username": "myusername",
      "spring.datasource.password": "mypassword",
      "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL8Dialect",
      "spring.jpa.hibernate.ddl-auto" : "update",
      "oauth.jwt.secret": "secret_key",
      "listingAPItoken": "pk_f87286e075c94cc484405da70691c030",
      "alphaVantageAPIToken":"OF6BVKZOCXWHD9NS",
      "forexAPItoken": "cnr3i41r01qs2jr5d5bgcnr3i41r01qs2jr5d5c0",
      "listingNameApiUrl":"https://api.iex.cloud/v1/data/core/stock_collection/sector?collectionName=",
      "updateListingApiUrl":"https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=",
      "basicStockInfoApiUrl":"https://www.alphavantage.co/query?function=OVERVIEW&symbol=",
      "HistoryListingApiUrl":"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=",
      "forexExchangePlaceApiUrl":"https://finnhub.io/api/v1/forex/exchange?token=",
      "forexSymbolsApiUrl":"https://finnhub.io/api/v1/forex/symbol?exchange=",
      "forexExchangeRateApiUrl":"https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE",
      "forexDailyApiUrl":"https://www.alphavantage.co/query?function=FX_DAILY",
      "optionsUrl":"https://query2.finance.yahoo.com/v7/finance/options/",
      "springdoc.packagesToScan": "rs.edu.raf.banka1.controller",
      "dev.environment": false
      }'
    depends_on:
      mysql:
        condition: service_healthy

  fetching-service:
    build:
          context: market-service/
          dockerfile: Dockerfile
          args:
            JAR_FILE: market-service/target/*.jar
            CACHEBUST: ${CI_COMMIT_SHA}  # Use a unique value to bust the cache
    image: fetching-service
    container_name: fetching-service-container
    restart: always
    ports:
      - "8082:8082"  # Adjust the port as needed
    environment:
      SPRING_APPLICATION_JSON: '{
      "spring.datasource.url": "jdbc:mysql://mysql:3306/bank_marketservice",
      "spring.datasource.username": "myusername",
      "spring.datasource.password": "mypassword",
      "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL8Dialect",
      "spring.jpa.hibernate.ddl-auto" : "update",
      "oauth.jwt.secret": "secret_key",
      "listingAPItoken": "pk_f87286e075c94cc484405da70691c030",
      "alphaVantageAPIToken":"OF6BVKZOCXWHD9NS",
      "forexAPItoken": "cnr3i41r01qs2jr5d5bgcnr3i41r01qs2jr5d5c0",
      "listingNameApiUrl":"https://api.iex.cloud/v1/data/core/stock_collection/sector?collectionName=",
      "updateListingApiUrl":"https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=",
      "basicStockInfoApiUrl":"https://www.alphavantage.co/query?function=OVERVIEW&symbol=",
      "HistoryListingApiUrl":"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=",
      "forexExchangePlaceApiUrl":"https://finnhub.io/api/v1/forex/exchange?token=",
      "forexSymbolsApiUrl":"https://finnhub.io/api/v1/forex/symbol?exchange=",
      "forexExchangeRateApiUrl":"https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE",
      "forexDailyApiUrl":"https://www.alphavantage.co/query?function=FX_DAILY",
      "optionsUrl":"https://query2.finance.yahoo.com/v7/finance/options/",
      "springdoc.packagesToScan": "rs.edu.raf.banka1.controller",
      "dev.environment": false
      }'
    depends_on:
      mysql:
        condition: service_healthy